<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-3">
            <div class="form-group">
                <label for="appointmentDate">Prendre un rendez-vous: </label>
                <input type="date" class="form-control" id="appointmentDate" placeholder="Sélectionner une date">
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="appointmentDate">Choisir l'heure: </label>
                <input type="time" class="form-control" id="appointmentDate" placeholder="Sélectionner une heure">
            </div>
        </div>
        <div class="col-2 align-self-center" style="margin-top: 8px;">
            <a href="#!" class="btn btn-info">Valider</a>
        </div>
    </div>
</div>