  <div class="container-fluid mt--9">
    <div class="row">
      <div class="col-xl-3 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                        <a href="javascript:void(0)">
                            <img src="assets/img/services/1.png" class="rounded-circle">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
                <div class="text-center" style="margin-top: 110px;">
                    <h3>
                        Soin de cheveux
                    </h3>
                    <h3>
                        15.000 Ar
                    </h3>
                    <a href="#!" class="btn btn-info">Voir plus</a>
                </div>
            </div>
        </div>
    </div>
      <div class="col-xl-3 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="assets/img/services/2.png" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="text-center" style="margin-top: 110px;">
              <h3>
                Soin du corps
              </h3>
              <h3>
                  20.000 Ar
              </h3>
              <a href="#!" class="btn btn-info">Voir plus</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="assets/img/services/3.png" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="text-center" style="margin-top: 110px;">
              <h3>
                Soin du visage
              </h3>
              <h3>
                  10.000 Ar
              </h3>
              <a href="#!" class="btn btn-info">Voir plus</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="assets/img/services/4.png" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="text-center" style="margin-top: 110px;">
              <h3>
                Soin SPA
              </h3>
              <h3>
                  25.000 Ar
              </h3>
              <a href="#!" class="btn btn-info">Voir plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid mt-7">
    <div class="row">
      <div class="col-xl-3 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                        <a href="javascript:void(0)">
                            <img src="assets/img/services/5.png" class="rounded-circle">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
                <div class="text-center" style="margin-top: 110px;">
                    <h3>
                        Epilation
                    </h3>
                    <h3>
                        30.000 Ar
                    </h3>
                    <a href="#!" class="btn btn-info">Voir plus</a>
                </div>
            </div>
        </div>
    </div>
      <div class="col-xl-3 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="assets/img/services/6.png" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="text-center" style="margin-top: 110px;">
              <h3>
                Maquillage
              </h3>
              <h3>
                  20.000 Ar
              </h3>
              <a href="#!" class="btn btn-info">Voir plus</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="assets/img/services/7.png" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="text-center" style="margin-top: 110px;">
              <h3>
                Coupe des cheveux
              </h3>
              <h3>
                  12.000 Ar
              </h3>
              <a href="#!" class="btn btn-info">Voir plus</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="assets/img/services/8.png" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="text-center" style="margin-top: 110px;">
              <h3>
                Soin des ongles
              </h3>
              <h3>
                  5.000 Ar
              </h3>
              <a href="#!" class="btn btn-info">Voir plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  