<!-- Dark table -->
<div class="container-fluid mt--9">
    <div class="row mt-5">
      <div class="col">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent border-0">
            <div class="row">
              <div class="col-md-10">
                <h3 class="text-white mb-0">Liste des rendez-vous</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-dark table-flush">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Services</th>
                  <th scope="col">Prix</th>
                  <th scope="col">Date</th>
                  <th scope="col">Heure</th>
                  <th scope="col">Status</th>
                  <th scope="col">Clients</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Soin de cheveux</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    15.000 Ar
                  </td>
                  <td>
                    02 / 02 / 2024
                  </td>
                  <td>
                    14:15
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-warning"></i> en attente
                    </span>
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      Bruollin Nirikomamy
                    </span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Soin du corps</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    20.000 Ar
                  </td>
                  <td>
                    02 / 02 / 2024
                  </td>
                  <td>
                    11:20
                  </td>
                  <td>
                    <span class="badge badge-dot">
                      <i class="bg-success"></i> payé
                    </span>
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      Notahiana
                    </span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Soin du visage</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    10.000 Ar
                  </td>
                  <td>
                    02 / 02 / 2024
                  </td>
                  <td>
                    08:45
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-danger"></i> non payé
                    </span>
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      Rafatro Ulrich
                    </span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Soin SPA</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    25.000 Ar
                  </td>
                  <td>
                    02 / 02 / 2024
                  </td>
                  <td>
                    12:35
                  </td>
                  <td>
                    <span class="badge badge-dot">
                      <i class="bg-info"></i> en cours
                    </span>
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      Tsiory Jeremy
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>