<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-6"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">Hello</h1>
          <p class="text-white mt-0 mb-">Bienvenue</p>
          <!-- <a href="#!" class="btn btn-info">Voir plus</a> -->
        </div>
      </div>
    </div>
  </div>
  <app-liste-services></app-liste-services>
  <!-- <app-calendrier></app-calendrier> -->
  <app-historique></app-historique>