<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Tableau -->
<div class="container-fluid mt--9">
  <div class="row mt-5">
      <div class="col">
        <div *ngIf="loading" class="text-center text-white py-5 mt--7">
            <i class="fas fa-spinner fa-spin fa-3x"></i> 
            <p>Chargement en cours...</p>
        </div>
          <div class="card bg-default shadow"  *ngIf="!loading">
              <div class="card-header bg-transparent border-0">
                  <div class="row">
                      <div class="col-md-10">
                          <h3 class="text-white mb-0">Liste des employés</h3>
                      </div>
                  </div>
              </div>
              <div class="table-responsive">
                  <table class="table align-items-center table-dark table-flush">
                      <thead class="thead-dark">
                          <tr>
                              <th scope="col">Nom</th>
                              <th scope="col">Prénom</th>
                              <th scope="col">Email</th>
                              <th scope="col">Préférences</th>
                              <th scope="col">Date d'insertion</th>
                          </tr>
                      </thead>
                      <tbody>
                          <!-- Utilise la syntaxe Angular pour afficher les données -->
                          <tr *ngFor="let employee of employees">
                              <td>{{ employee.lastname }}</td>
                              <td>{{ employee.firstname }}</td>
                              <td>{{ employee.email }}</td>
                              <td [innerHTML]="generateStars(employee.preferences)"></td>
                              <td>{{ formatDate(employee.date_insertion) }}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
